[Unit]
Description=igrill MQTT service
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=2
ExecStart=/usr/bin/python /home/pi/Documents/igrill/monitor.py -c /home/pi/Documents/igrill/.config/

[Install]
WantedBy=multi-user.target
