[Unit]
Description=igrill MQTT service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=2
ExecStart=/usr/bin/python /home/pi/Documents/igrill/monitor.py -c .config/

[Install]
WantedBy=multi-user.target
